
.vs/Kioku_Website/config/applicationhost.config
.vs/Kioku_Website/FileContentIndex/046172fb-500a-44ce-8289-57cedd885d19.vsidx
.vs/Kioku_Website/FileContentIndex/3e6574ad-3592-48da-852b-816b24fac39c.vsidx
.vs/Kioku_Website/FileContentIndex/8ae8edd8-7177-4d12-9474-84557a1b4132.vsidx
.vs/Kioku_Website/FileContentIndex/bf1dae2d-08b8-49a1-ab2f-bd5f166b93cb.vsidx
.vs/Kioku_Website/FileContentIndex/c38f37b3-e042-4079-9212-3cac40b468f0.vsidx
.vs/slnx.sqlite
*.vsidx
