
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lexend:wght@100..900&family=Poor+Story&display=swap');
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;

}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeup {
    from {
        opacity: 0.2;
        transform: scale(100%) translateY(40px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeside {
    from {
        opacity: 0.2;
        transform: scale(100%) translateX(-50px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadein {
    animation-name: fadein;
    animation-duration: 1s;
}

body {
    background: black;
    background-size: cover;
    overflow: clip;
}

#left_container {
    display: block;
    width: 40vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.buttons {
    color: white;
    font-family: 'DM Serif Display',serif;
    font-size: 3vw;
    margin-left: 0;
    transition: all 0.25s;
}

    .buttons:hover {
        color: aquamarine;
    }


.fade-out-div {
    transition: opacity 0.5s ease;
    opacity: 1;
}

    .fade-out-div.fade-out {
        opacity: 0;
    }

.title{
    font-size: 10vw;
}
.texts {
    font-size: 1vw;
}
.sub_title {
    font-size: 2vw;
}

.rightcontainer {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    animation-name: fadeside;
    animation-duration: 1s;
    z-index: -1;
}

.video{
    right:10%;
}

@media only screen and (max-width: 767px) {
    #left_container {
        display: block;
        width: 90vw;
        height: 50vh;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .rightcontainer {
        display: block;
        position: absolute;
        right: 0;
        top: unset;
        bottom: 0;
        width: 100%;
        height: 75%;
        animation-name: fadeup;
        animation-duration: 1s;
    }


    .title {
        font-size: 25vw;
    }
    .sub_title {
        font-size: 5vw;
    }
    .texts {
        font-size: 4vw;
    }
    .buttons {
        font-size: 8vw;
    }

    .video {
        right: -20%;
    }
}